<!DOCTYPE html>
<html lang="us">
<head>
<meta charset="utf-8"/>
<base href="/cluster/:clusterID">
<title>Tech With Art </title> 
<link rel="stylesheet" type="text/css" href="/css/index.css"/>
</head>
<body>
    <p id='start'>This app calculates VSAN cluster capacity </p>
    <!--<script src='./index.js' defer ></script> -->

    <%- include(`../pages/${template}`) %>

</body>
</html>